@import "styles/placeholders.scss";

.modal-form-container {
  padding-top: 27px;
  padding-right: 36px;
  padding-left: 36px;
  font-family: $font-opensans;
  @include for-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal-form-header {
    padding-bottom: 8px;
    @include for-mobile {
      padding-top: 6px;
      margin-bottom: 12px;
    }

    h3 {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;
    }

    .modal-form-cross-btn {
      float: right;
      color: $--atb-blue;
      @include for-mobile {
        padding-right: 0px;
      }
      height: 24px !important;
    }
  }

  .modal-form-divider {
    margin-right: 0px;
  }

  .recipients-divider {
    margin-bottom: 22px;
  }
  .modal-form-divider {
    margin-bottom: 42px;
  }
  .payee-comment {
    margin-top: 4px;
  }

  .payee-form {
    padding-top: 0px !important;
  }

  .recipient-form,
  .payee-form {
    padding-left: 0px;
    padding-right: 0px;

    .edit-label {
      padding-top: 5px;
      .form-icon {
        float: left;
        img {
          margin-top: 43px;
        }
      }
    }
    .payee-shortname-container {
      min-height: 60px;
      margin: 0px 0px 40px;
      @include for-mobile {
        min-height: 85px;
      }
    }
    .payee-button-container {
      width: 145px;
      @include for-mobile {
        width: 100%;
      }
    }
    .account-message-container {
      height: 20px;
    }
    .autodeposit-enabled-message {
      h3 {
        padding-top: 15px;
        &.no-padding {
          padding-top: 0px;
        }
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        color: $--dark-grey;
        font-family: $font-opensans;
      }

      span {
        color: $--dark-grey;
      }
    }
  }

  // applies to all form inputs including the container for the search
  .ui.input.full-width-input {
    width: 100%;
  }

  .in-line-message-tall {
    padding-top: 4px;
    font-size: 10px;
  }

  .error-tall {
    padding-bottom: 14px;
  }
}

.rebank-form.payee-form .ui.search .results.transition {
  max-height: 200px;
  overflow-y: scroll;
}
