@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/placeholders.scss";

.recipient-details-container {
  margin-left: 36px;
  padding-top: 27px;
  padding-right: 36px;
  font-family: $font-opensans;
  .recipient-details-header {
    padding-bottom: 8px;

    @include for-mobile {
      padding-top: 6px;
      margin-bottom: 12px;
    }

    h3 {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;
    }

    .recipient-details-cross {
      float: right;
      color: $--atb-blue;

      img {
        padding-right: 15px;
        transform: translateY(15%);
      }
    }
  }

  .recipient-details-divider {
    margin-right: 0px;
  }

  .autodeposit-enabled-message h3 {
    padding-top: 50px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: $--dark-grey;
    font-family: $font-opensans;
  }

}
