@import "styles/mixins.scss";
@import "styles/variables.scss";
@import "styles/placeholders.scss";

.full-width {
  width: 100%;
}

.autodeposit {
  &.main-btn {
    cursor: pointer;
    @extend %blue-button;
    &.create {
      width: 194px;
    }
    &.disabled {
      opacity: 0.3;
    }
    &.primary {
      background-color: $--atb-blue;
      border-color: $--atb-blue;
      color: white;
    }
    &.secondary {
      background-color: white;
      border-color: $--atb-blue;
      color: $--atb-blue;
    }
    &.btn-xs-block {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }

  &.account-dropdown .ui.search .results.transition {
    max-height: 200px;
    overflow-y: scroll;
  }

  &.close-btn {
    background-color: white;
    border: none;
    color: white;
    cursor: pointer;
  }

  &.centered-btn {
    text-align: center;
    width: 151px;
    padding-right: 0px;
    @include for-mobile() {
      &.main-btn {
        width: 100% !important;
      }
    }
  }

  &.label-title {
    @include content($--black, 12px, 0.3px);
    letter-spacing: normal;
    padding-bottom: 5px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  &.profile {
    margin-top: 32px;
    @include for-widescreen() {
      padding-left: 65px !important;
      padding-right: 65px !important;
    }
    @include for-tablet() {
      padding-left: 36px !important;
      padding-right: 36px !important;
    }
    @include for-desktop() {
      padding-left: 36px !important;
      padding-right: 36px !important;
    }
    @include for-mobile() {
      margin-top: 15px !important;
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  &.profile-body {
    @include for-mobile() {
      padding-left: 6px !important;
      padding-right: 6px !important;
    }
  }

  &.profile-title {
    @include for-mobile() {
      display: none;
    }
  }

  &.profile-header {
    font-family: Open Sans !important;
    display: inline !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: $--dark-grey;
  }

  &.message-bottom {
    padding-top: 20px;
    @include for-mobile() {
      width: 280px;
      height: 121px;
      font-family: "Open Sans";
      margin: 0px;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $--dark-grey;
    }
  }
}

.ui {
  .form.inline-form label {
    display: flex;
    padding-left: 48px;
    margin-bottom: 7px;
  }
  &.has-errors.ui.selection.dropdown {
    border-color: $--red !important;
  }

  &.has-errors.ui.input input {
    border: 1px solid $--red !important;
  }
  .ui.selection.active.dropdown .menu {
    max-height: 200px;
    overflow-y: scroll;
  }
  &.error-message {
    width: 266px;
    height: 14px;
    font-size: 10px;
    color: $--red;
    margin-left: 45px;
    margin-top: -10px;
  }
  &.label-div {
    display: flex;
    font-size: 12px;
    letter-spacing: 0.019rem;
    padding-left: 48px;
    padding-bottom: 5px;
    color: $--dark-grey;
  }
  &.form.inline-form-field {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    img {
      padding: 4px 12px 4px 0;
      text-align: center;
    }
    &.form-field {
      outline: none;
      border: none;
      width: 100%;
      color: $--dark-grey;
      font-size: 14px;
      letter-spacing: normal;
      font-family: "Open Sans";
    }
  }
  &.selection.dropdown {
    padding-left: 14px;
    height: 44px;
    border: 1px solid $--dark-grey !important;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;

    &.mobile-input-dropdown {
      @include for-mobile {
        height: 44px;
        .dropdown.icon {
          padding-top: 13px;
        }
      }
    }

    @include for-mobile {
      height: 55px;
    }

    .text {
      color: $--dark-grey;
    }

    .default.text {
      color: $--input-hint-grey;
    }

    input.search {
      @include for-mobile {
        padding-left: 10px;
        margin-top: 6px;
      }
    }

    .dropdown.icon {
      padding-top: 13px;
      @include for-mobile {
        padding-top: 19px;
      }
    }
  }
  &.columns {
    width: 100% !important;
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
  }
  &.divider {
    @include for-mobile() {
      width: 100vw;
      margin-left: -20px;
    }
  }
}

.autodeposit-rules {
  &.form-container {
    color: $--dark-grey;
    &:hover + .rules-row-background {
      .rules-row-container {
        border-color: transparent;
        background-color: transparent;
        display: flex;
      }
    }
  }

  &.header {
    font-family: Open Sans !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: $--dark-grey;

    @include for-mobile {
      margin-bottom: 0px;
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
    }

    h3 {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;

      @include for-mobile {
        display: none;
      }
    }

    span.register-button-span {
      float: right;
      color: $--atb-blue;
      font-size: 14px;
      font-weight: 600;

      @include for-mobile {
        float: left;
      }

      img {
        padding-right: 0px;
        transform: translateY(15%);
      }

      button {
        background: transparent;
        height: 18px;
        font-family: $font-opensans;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $--atb-blue;
        border: none;
        cursor: pointer;
        &:focus {
          outline: none;
        }
      }
    }
  }

  &.details {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;

    .label {
      width: 172px;
      height: 18px;
      font-family: $font-opensans;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $--dark-grey;
    }
    .value {
      width: 90%;
      height: 20px;
      font-family: $font-opensans;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $--dark-grey;
    }

    @include for-desktop {
      width: 100%;
    }

    @include for-tablet {
      width: 100%;
    }

    @include for-mobile {
      width: 100%;
      margin-right: 20px;
      transform: translateY(8%);
    }

    // span {
    //   margin-left: 3px;
    //   @include for-mobile {
    //     margin-left: 0px;
    //     display: block !important;
    //   }
    // }
  }

  &.icons {
    float: right;
    transform: translateY(20%);

    input {
      height: 20px;
    }
  }

  &.trashcan {
    margin-right: 25px;
    @include for-mobile {
      margin-right: 15px;
    }
    transform: translateY(20%);
  }

  &.chevron {
    float: right;
    transform: translateY(-625%);
    width: 8px;
    height: 13px;
    margin-left: 15px;
  }

  &.message {
    padding-top: 3px;
    padding-bottom: 25px;
    padding-right: 0px;
    font-family: $font-opensans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $--dark-grey;

    @include for-mobile {
      margin-bottom: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
  }

  &.row-background {
    width: 100%;
    @include for-mobile {
      padding-left: 0px;
      padding-right: 0px;
    }

    &:hover {
      background-color: transparent;
      cursor: pointer;
    }
  }
  &.row-container {
    display: block;

    &:hover {
      border-color: transparent;
    }

    @include for-mobile {
      font-size: 12px;
    }

    div.status-active {
      height: 20px;
      width: 64px;
      margin: 0px;
      padding: 0px;
      background-color: var(--light-grey);
      border-radius: 3px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      border-radius: 3px;
      background-color: var(--light-grey);
      @include for-mobile {
        transform: translateY(-13%);
      }
      span.status-active-span {
        width: 53px;
        height: 16px;
        font-family: $font-opensans;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.18px;
        text-align: center;
        color: var(--dark-grey);
      }
    }
    div.status-pending {
      height: 20px;
      width: 64px;
      margin: 0px;
      padding: 0px;
      background: #e8ebeb;
      border-radius: 3px;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      border-radius: 3px;
      background-color: #62666a;
      span.status-pending-span {
        width: 52px;
        height: 16px;
        font-family: $font-opensans;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.18px;
        text-align: center;
        color: #ffffff;
      }
    }

    &.skeleton {
      display: inline-flex;
      .react-loading-skeleton {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .manage-rules-form-no-rules {
    margin-left: 36px;
    padding-right: 36px;
    font-size: 16px;
    width: 555px;
    height: 700px;

    @include for-widescreen {
      width: 720px;
    }

    @include for-mobile {
      width: 100%;
      padding-right: 56px;
    }

    button {
      margin-top: 15px;
      @extend %blue-button;
      float: right;

      width: 192px;

      @include for-mobile {
        float: none;
        width: 100%;
      }
    }
  }
}

.transaction-grid {
  .header-items {
    color: $--dark-grey;
    font-weight: 600;
  }
  .head {
    background-color: #f8f8f8;
    padding-top: 7px !important;
    padding-bottom: 8px !important;
  }
  .cell-item {
    cursor: pointer;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .item-divider {
    margin: 0px !important;
  }
  .assets {
    display: inline-block;
    vertical-align: middle;
  }
  .icons {
    padding-left: 40px !important;
    @include for-desktop {
      // min width 1024px
      padding-left: 30px !important;
    }
    @include for-tablet {
      // min width 1024px
      padding-left: 14px !important;
    }
  }
}
