@mixin floats {
    @each  $current-float in  $floats {
       .float-#{$current-float}{
          float:#{$current-float} 
       }
    }
}

@mixin margins-paddings {
    $sides: (top, bottom, left, right); 
    
    @each $key, $space in $spacers {
      @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$key}{
          margin-#{$side}: #{$space} !important;
        }
    
        .p#{str-slice($side, 0, 1)}-#{$key} {
          padding-#{$side}: #{$space} !important;
        }
      }
    }
}
    
@mixin negative-margins-paddings {
  $sides: (top, bottom, left, right); 
  
  @each $key, $space in $negative-spacers {
    @each $side in $sides {
      .nm#{str-slice($side, 0, 1)}-#{$key}{
        margin-#{$side}: #{$space} !important;
      }
  
      .np#{str-slice($side, 0, 1)}-#{$key} {
        padding-#{$side}: #{$space} !important;
      }
    }
  }
}