@import "./variables";
@import "./mixins";

%error-message {
  width: 266px;
  height: 14px;
  color: $--red;
  font-size: 10px !important;
}

%blue-button {
  border-radius: 100px;
  background: $--atb-blue;
  color: $--white;
  font-family: $font-opensans;
  font-weight: 600;
  width: 125px;
  height: 42px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15),
    1px 4px 8px 0 rgba(0, 0, 0, 0.05);
  border: solid 2px $--atb-blue;
}

%basic-button {
  border-radius: 100px;
  font-family: $font-opensans;
  font-size: 16px;
  font-weight: 600;
  width: 127px;
  height: 42px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15),
    1px 4px 8px 0 rgba(0, 0, 0, 0.05);
}
%atb-blue-button {
  border-radius: 100px;
  background: $--atb-blue;
  color: $--white;
  font-family: $font-opensans;
  font-weight: 600;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15),
    1px 4px 8px 0 rgba(0, 0, 0, 0.05);
  border: solid 2px $--atb-blue;
}

%summary-card {
  width: 100%;
  background-color: $--white;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-top: 0px;
}

%overview-header {
  font-family: $font-opensans;
  font-size: 16px;
  font-weight: $normal;
  font-style: $normal;
  font-stretch: $normal;
  line-height: $normal;
  letter-spacing: $normal;
  color: $--dark-grey;
  margin-bottom: 16px;
  @media only screen and (max-width: $break-desktop) {
    font-size: 14px;
    margin-left: 26px;
  }
  @media only screen and (max-width: $break-tablet) {
    font-size: 12px;
    margin: 5px 20px 10px;
  }
}

%card-content-styling {
  .ui.segment {
    @extend %summary-card;

    &:not(.yellow-border) {
      .available.balance {
        display: none;
      }
    }

    &.gold-border {
      .ui.divider {
        display: none;
      }
    }

    div.ui.grid {
      padding-bottom: 10px;

      .column {
        &:first-child {
          padding-left: 35px;
        }

        &.summary-chevron {
          padding-left: 0px;
          max-width: 5.5%;
          padding-left: 10px;
          text-align: right;
          img {
            padding-top: 35px;
          }
        }

        &.available.balance,
        &.current.balance {
          padding-right: 0px;
        }

        h4 {
          font-size: 16px;
          letter-spacing: -0.29px;
          margin: 0px;
          padding-top: 28px;
        }

        span,
        p {
          font-size: 22px;
          font-weight: 600;
        }

        p.account.name {
          letter-spacing: -0.34px;
        }

        h4.current.balance.title,
        h4.available.balance.title {
          text-align: right;
        }

        span.current.amount,
        span.available.amount {
          text-align: right;
          float: right;
        }
      }
      .ui.divider {
        margin-left: 22px;
        margin-right: 65px;
      }
    }
  }

  @media only screen and (max-width: $break-desktop) {
    .ui.segment {
      div.ui.grid {
        .column {
          span,
          p {
            font-size: 20px;
          }

          h4 {
            font-size: 12px;
          }

          &.ui.divider {
            margin-left: 26px;
            margin-right: 45px;
          }

          &:first-child {
            padding-left: 22px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $break-tablet) {
    .ui.segment {
      div.ui.grid {
        .column {
          &:first-child {
            padding-left: 15px;
          }

          &.summary-chevron {
            text-align: right;
            max-width: 6%;
            padding-left: 5px;
            padding-right: 0px;
            img {
              width: 24px;
              padding-top: 41px;
            }
          }

          &.available.balance,
          &.current.balance {
            margin-left: 3%;
          }

          &h4.account.type {
            padding-top: 20px;
            padding-bottom: 10px;
          }

          &p.account.name {
            font-size: 14px;
          }

          &h4.current.balance.title {
            padding-top: 20px;
            padding-bottom: 5px;
          }

          &span {
            font-size: 18px;
          }

          &h4.available.balance.title {
            padding-top: 20px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

%dropdown-text {
  color: #7a7c82;
  font-size: 14px;
}

%memo-form-label {
  font-size: 12px;
  letter-spacing: 0.3px;

  .form-label {
    float: left;
  }

  .form-counter {
    font-size: 12px;
    float: right;
  }
}

%memo-form-text {
  border: 1px solid $--dark-grey;
  color: $--dark-grey;
  resize: none;
  height: 100px;
}

.no-outline {
  outline: 0;
}
