@import "styles/variables.scss";
.small-text{
font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $--dark-grey;
}
.wrapped-text{
  overflow: hidden;
  word-wrap: break-word;
}
.textEllipsesWrapper{
  display: inline-flex!important;
  flex-flow:row nowrap!important;
  max-width:100%!important; /* or width:100% if you want the spans to take all available space */

  .firstText{
    flex:1!important;
    white-space:pre!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
  }
  .lastText{
    white-space:nowrap!important;
  }
}
