@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.move-money-history {
  h3 {
    padding: 40px 0 0 14px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $--dark-grey;
    font-family: $font-opensans;

    @include for-mobile {
      border-bottom: 1px solid #d8d8d8;
      padding-left: 20px;
      padding-bottom: 14px;
      padding-top: 15px;
      width: 100%;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .ui.equal.width.grid {
    margin: 0 !important;
  }

  .column-list.row {
    .mobile-collapsed-move-money-0 {
      padding-right: 10px !important;
    }

    .mobile-collapsed-move-money-1 {
      transform: translateY(-8px);
      margin-bottom: 0 !important;

      .column-content {
        float: right !important;
        padding-right: 10px !important;
      }
    }

    .mobile-collapsed-move-money-2 {
      padding-right: 10px !important;

      @include for-tablet {
        padding-right: 0 !important;
      }

      .column-content {
        .text-content {
          display: inline-flex;
          max-width: 100% !important;

          @include for-tablet {
            max-width: 90% !important;
          }

          .acct-name {
            margin-right: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .mobile-collapsed-move-money-4 {
      .column-content {
        float: right;
        overflow: visible !important;
      }

      @include for-mobile {
        display: none !important;
        .collapsed-move-money-mobile-header {
          display: none;
        }

        .column-content {
          display: none;
        }
      }
    }

    .mobile-collapsed-move-money-5 {
      overflow: visible !important;
      .column-content {
        height: 24px;
        width: 24px;
        float: right;
        text-align: center;
        margin-right: 6px;
        overflow: visible !important;
      }

      @include for-mobile {
        .collapsed-move-money-mobile-header {
          display: none;
        }

        .column-content {
          padding-left: 0;

          .column-list-chevron {
            transform: translateY(-22px);
            padding-left: 3px;
          }
        }
      }
    }

    @include for-mobile {
      padding-top: 18px !important;
      margin-left: 0;

      .column-content {
        padding-left: 20px;
      }

      .collapsed-move-money-mobile-header {
        padding-left: 20px;
        font-size: 12px;
      }

      .mobile-collapsed-move-money-0 {
        transform: translateY(16px);
        margin-bottom: 0 !important;
        margin-right: 5px;
        padding-top: 5px;

        .column-content {
          display: inline;
          padding-left: 2px;
        }

        span {
          font-weight: normal;
        }
      }

      .mobile-collapsed-move-money-1 {
        transform: translateY(-30px);
        vertical-align: top;
        font-weight: 600;
        font-size: 18px;

        .column-content {
          height: 25px;
          vertical-align: top;
          float: left !important;
        }

        .collapsed-move-money-mobile-header {
          display: none;
        }
      }

      .mobile-collapsed-move-money-2 {
        height: 41px !important;
        margin-top: 3px !important;

        .column-content {
          display: block;
          transform: translateY(3px);
          font-weight: normal;

          .text-content {
            padding-right: 3px !important;
          }
        }
      }

      .mobile-collapsed-move-money-3 {
        margin-top: 3px !important;
        height: 41px !important;
        overflow: visible !important;

        .collapsed-move-money-mobile-header {
          padding-left: 4px;
        }
        .column-content {
          padding-left: 4px;
          display: block;
          transform: translateY(3px);
          font-weight: normal;
        }
      }
    }
  }

  .column {
    .column-content {
      .text-content {
        display: inline-flex;
        max-width: 100% !important;

        @include for-tablet {
          max-width: 90% !important;
        }

        .acct-name {
          margin-right: 1px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &.mobile-collapsed-move-money-0 {
      padding-right: 10px !important;
    }

    &.mobile-collapsed-move-money-2 {
      padding-right: 10px !important;

      @include for-tablet {
        padding-right: 0 !important;
      }

      .column-content {
        .text-content {
          display: inline-flex;
          max-width: 100% !important;

          @include for-tablet {
            max-width: 90% !important;
          }

          .acct-name {
            margin-right: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &.mobile-collapsed-move-money-1 {
      margin-bottom: 0 !important;
    }
    .column-last {
      transform: translateY(3px);
    }

    @include for-mobile {
      margin-bottom: 10px !important;
    }
  }

  // TODO - move to global styles/forms/review as part of REB-3069
  .scheduled-transfer-details {
    font-family: $font-opensans;
    padding-top: 25px;

    .scheduled-transfer-header {
      padding-left: 40px;
      padding-right: 20px;
      @include for-mobile {
        padding-top: 6px;
        margin-bottom: 12px;
        padding-left: 20px;
      }

      h3 {
        display: inline;
        font-size: 16px;
        font-weight: 600;
        padding-left: 0px;
        color: $--dark-grey;
      }
      .scheduled-transfer-cross {
        float: right;
        color: $--atb-blue;
        height: 24px !important;
        &:focus {
          outline: none;
        }
      }
    }

    .scheduled-transfer-divider {
      margin-left: 40px;
      margin-right: 40px;
      @include for-mobile {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    .scheduled-transfer-form {
      padding-left: 40px;
      padding-right: 40px;
      @include for-mobile {
        padding-left: 20px;
        padding-right: 20px;
      }
      .label-card:nth-child(2) {
        height: 30px;
        transform: translateY(-100%);
        img {
          height: 24px;
          padding-left: 8px;
        }
      }
      .label-card:nth-child(3) {
        margin-top: 0px;
        div {
          padding-top: 0px;
        }
      }
      .button-container {
        button {
          min-width: 289px;
          @include for-mobile {
            min-width: 285px;
          }
        }
      }
    }

    @include for-mobile {
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}
