@import "../../../styles/variables";
@import "../../../styles/mixins.scss";

// Older Nav styles - only used on SubNav

.secondary-header {
  top: 72px;
  height: 60px;
  width: 100%;
  background-color: $--white;
  position: fixed;
  left: 0;
  z-index: 101;
  box-shadow: 0 1px 4px 0 $--dark-black;

  @include for-desktop-up {
    top: 88px;
    padding-left: calc(100vw - 100%);
  }

  @media only screen and (max-width: $break-tablet) {
    top: 112px;
    height: calc(100vh - 112px);
    width: 100vw;
    vertical-align: top;
    position: absolute;

    &.primary-shrinked {
      position: fixed;
      top: 48px;
      height: calc(100vh - 48px);
    }
  }

  .ui.menu {
    height: 100%;
    font-size: 16px;
    @media only screen and (max-width: $break-desktop) {
      font-size: 14px;
    }
    font-family: $font-opensans;
    .ui.container {
      @media only screen and (max-width: $break-desktop) {
        margin-left: 33px !important;
      }
      @media only screen and (max-width: $break-tablet) {
        margin-left: 19px !important;
      }
      .mobile-grid {
        display: none;
        @media only screen and (max-width: $break-tablet) {
          display: inline-block;
        }

        a:hover {
          background-color: transparent;
        }

        h4#secure-header-secondary-more-title,
        h4#secure-header-secondary-move-money-title {
          display: none;
          @media only screen and (max-width: $break-tablet) {
            display: inline-block;
            font-size: 20px;
            letter-spacing: -0.31px;
            line-height: 1;
            margin-left: 0px;
            padding-left: 2px;
            padding-top: 22px;
            font-weight: 600;
            color: $--dim-grey;
          }
        }
        .item {
          display: none;
          @media only screen and (max-width: $break-tablet) {
            display: inline-block;
            padding-right: 50px;
            padding-left: 50px;
            padding-top: 22px;
          }
          img {
            float: right;
            width: 24px;
            height: 24px;
          }
        }
      }
      .ui.section.divider {
        display: none;
        @media only screen and (max-width: $break-tablet) {
          display: inline-block;
          width: 90%;
          margin-top: 10px;
          margin-bottom: 0px;
        }
      }

      &#secure-header-secondary-more-container .menu {
        justify-content: space-between;
        margin-right: 35px;
        @include for-desktop {
          margin-right: 30px;
        }
        @include for-tablet {
          margin-right: 15px;
        }
      }

      &#secure-header-secondary-move-money-container .menu {
        justify-content: space-between;
        flex-grow: 0.1;
        @media only screen and (max-width: $break-tablet) {
          padding-right: 0px;
        }
      }

      .menu {
        #secure-header-link-help {
          padding-right: 0px;
          margin-right: 0px;
        }

        .item.menu.title {
          width: fit-content !important;
          font-weight: 600;
          letter-spacing: -0.25px;
          padding-top: 18px;
          color: $--dim-grey;
          line-height: 1.25;
          padding-bottom: 4px;
          padding-left: 0px;
          margin-left: 0px;
          padding-right: 0px;
          @media only screen and (max-width: $break-desktop) {
            letter-spacing: -0.22px;
            line-height: 1.43;
          }

          span {
            //TODO move this code to mixin
            &:after {
              background: none repeat scroll 0 0 transparent;
              bottom: 0;
              content: "";
              display: block;
              height: 2px;
              left: 50%;
              position: absolute;
              background: $--dim-grey;
              transition: width 0.3s ease 0s, left 0.3s ease 0s;
              width: 0;
            }

            &:after,
            &:hover:after {
              left: 0px;
            }
            &.active:after,
            &:hover:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
