@import "../../styles/mixins";
@import "../../styles/variables";

.stepper-progress-status {
    background-color: $--white;
    padding-bottom: 28px;
    padding-top: 88px;
    height: 25px;
    min-width: auto;

    &.bill-payment {
      @include for-tablet-up {
        padding-top: 88px;
      }
    }

    @include for-widescreen {
      padding-left: 114px;
      padding-right: 66px;
    }

    @include for-tablet-and-desktop {
      padding-left: 88px;
      padding-right: 40px;
    }

    @include for-mobile {
      padding-top: 37px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .ui.grid {
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;

    .column {
      justify-content: space-between;
      flex-grow: 1;
      padding-right: 1px;

      &:not(.row) {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      h4 {
        text-align: right;
        padding-top: 0px;
        font-family: $font-opensans;
        font-size: 11px;
        font-weight: 600;
        color: $--ghost-grey;

        &.purple {
          color: $--light-purple;
        }
      }
    }
  }
}
