@import "src/styles/variables.scss";
@import "src/styles/mixins.scss";

.sidebar-container.fulfill-money {
  .sidebar-tabs {
    @include for-mobile {
      display: none;
    }
  }
}

.rebank-form.fulfill-request-form {
  padding-top: 0;

  .form-field-static .form-icon img {
    margin-top: 6px;
  }

  .form-inputs {
    margin-bottom: 20px;
    .form-label {
      margin-bottom: 5px !important;
    }
    .form-value {
      display: block;
      border: none;
      padding: 5px 0px 0px 1px;
      height: auto;
      width: 100%;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .fulfill-form-button:hover {
    background: $--atb-blue !important;
    color: $--white;
  }

  .fulfill-form-button:active {
    color: $--white;
  }

  textarea {
    font-family: $font-opensans !important;
  }
}
