@import "styles/mixins.scss";
@import "styles/variables.scss";
@import "styles/placeholders.scss";

.form-second-field-margin {
  margin-top: -1.3rem !important;
}

.rebank-form.bill-payment-form {
  .ui.input.full-width-input,
  .short-counter-label {
    width: 100%;
  }

  .button-container {
    padding-top: 50px;
  }

  .ending-recurring-selector {
    padding-top: 18px;
    padding-bottom: 25px;
  }

  .end-date-message {
    padding-top: 4px;
    padding-bottom: 11px;
    font-size: 10px;
  }

  @include for-mobile {
    .form-group {
      position: relative;

      .form-icon {
        float: none;
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;

        img {
          margin-top: 8px;
        }
      }

      .ui.selection.dropdown {
        padding-top: 4px;
        padding-bottom: 4px;
        min-height: 55px;
        height: min-content;
      }
    }
  }
}

.rebank-form.review-form {
  padding-top: 14px;

  .label-details {
    padding-top: 0px;
  }

  .bill-payment-complete-button {
    float: right;
  }
}

.exchange-group {
  padding-bottom: 6px;
}

.exchange-rate {
  padding-bottom: 8px;
  font-size: 16px;
}

.exchange-icon {
  margin-top: -14px;
}
