@import "../../styles/mixins.scss";
@import "../../styles/placeholders.scss";
@import "../../styles/variables.scss";
@import "../../styles/global.scss";

#transactions-divider {
  margin-right: 66px;
  margin-left: 36px;
}

.ui.container {
  @include for-desktop {
    width: 900px !important;
  }
}

#details-investment-transactions-container,
#details-loan-transactions-container,
#details-deposit-transactions-container,
#details-creditcard-transactions-container {
  background-color: $--white;
  padding-right: 14px;
  padding-left: 14px;
  padding-bottom: 20px;

  @include for-mobile {
    padding-bottom: 30px;
  }

  .no-transactions {
    padding-left: 36px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.29px;
    color: #57585c;

    @include for-mobile-and-tablet {
      padding-left: 24px;
      font-size: 12px;
      letter-spacing: -0.22px;
    }
  }

  .ui.grid + .grid {
    margin-top: 0px;

    @include for-mobile {
      margin-top: 15px;
    }
  }

  .ui.grid.transaction.displaytable {
    margin-bottom: 0px;
    .transactions.title {
      width: 100%;
      padding-top: 30px;
      padding-left: 46px;
      padding-bottom: 20px;

      h4 {
        font-size: 22px;
        font-family: $font-opensans;
        font-weight: 600;
        @include for-desktop {
          font-size: 22px;
        }
        @include for-tablet {
          font-size: 18px;
        }
      }
      @include for-widescreen {
        padding-top: 16px;
        padding-left: 36px;
        padding-bottom: 20px;
      }
      @include for-desktop {
        padding-top: 15px;
        padding-left: 36px;
        padding-bottom: 15px;
      }
      @include for-tablet {
        padding-top: 18px;
        padding-left: 24px;
        padding-bottom: 15px;
      }
    }

    .transactions.table {
      border-spacing: 0 0;
      width: 100%;
      padding-left: 0px;
      padding-right: 0px;

      .transaction-row-pointer {
        cursor: pointer;
      }

      .green.credit {
        color: $--light-green;
      }

      .transactions.subtitle {
        background-color: $--med-grey;
        font-size: 14px;
        font-weight: 600;
        @include for-tablet {
          font-size: 12px;
        }
        td {
          padding-top: 9px;
          padding-bottom: 8px;
          @include for-widescreen {
            padding-top: 7px;
            padding-bottom: 9px;
          }
          @include for-desktop {
            padding-top: 9px;
            padding-bottom: 5px;
          }
        }

        .subtitle.spacer.left {
          width: 45px;
          @include for-widescreen {
            width: 36px;
          }
          @include for-desktop {
            width: 36px;
          }
          @include for-tablet {
            width: 24px;
          }
        }
        .date.header {
          width: 153px;
          @include for-widescreen {
            width: 151px;
          }
          @include for-desktop {
            width: 137px;
          }
        }
        .amount.header {
          text-align: right;
          width: 130px;
          @include for-widescreen {
            width: 120px;
          }
          @include for-desktop {
            width: 106px;
          }
        }
        .balance.header {
          text-align: right;
          width: 130px;
          @include for-widescreen {
            width: 120px;
            padding-left: 28px;
          }
          @include for-desktop {
            width: 106px;
          }
        }
        .subtitle.spacer.right {
          width: 64px;
          @include for-widescreen {
            width: 66px;
          }
          @include for-desktop {
            width: 54px;
          }
        }
      }

      td {
        padding-top: 22px;
        padding-bottom: 20px;
        @include for-widescreen {
          padding-top: 21px;
          padding-bottom: 23px;
        }
        @include for-desktop {
          padding-top: 21px;
          padding-bottom: 20px;
        }
      }
      .column {
        font-size: 16px;
        border-bottom: $grey-divider-border;
      }

      .amount.column {
        text-align: right;
      }

      .balance.column {
        text-align: right;
        padding-left: 28px;
      }

      .detail.column {
        border: hidden;
        padding: 0;
      }

      .spacer.right {
        text-align: center;
      }

      .chevron.right {
        color: $--light-grey;
        padding-left: 10px;
        @include for-desktop {
          padding-left: 7px;
        }
      }

      .transaction-skeleton-row {
        td {
          width: 100%;
          padding: 0px 30px 0px 25px;
          height: 60px;
          .column-divider {
            width: 100%;
            margin-top: 20px;
            border-top: none;
            border-color: $grey-divider-border;
          }
        }
      }
    }
  }
}
