@import "src/styles/variables";
@import "src/styles/mixins";

.column-headers.row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 14px !important;
  box-sizing: border-box;
  background-color: $--med-grey;
  height: 34px;

  @include for-mobile {
    display: none !important;
  }

  .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  :nth-child(2) {
    text-align: right;
    padding-right: 10px !important;
  }

  span {
    height: 19px;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.19px;
    color: $--dark-grey !important;
  }
}

.skeleton-loaders {
  &#{&} {
    width: 100%;
    padding-left: 0;

    @include for-mobile {
      padding-right: 1.5rem;
    }
  }
  
  .ant-skeleton {
    margin-bottom: 13px;
  }

  @include for-mobile {
    .ant-skeleton {
      margin-left: 10px;
      margin-top: 8px;
      margin-right: 10px;
    }
  }
}

.column-list.row {
  padding-bottom: 0 !important;
  padding-top: 23px !important;
  color: $--dark-grey !important;
  margin-left: 14px;
  cursor: pointer;

  .column-divider {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgba(99, 102, 106, 0.2);
    margin-bottom: 0;
    margin-right: 32px;
    margin-top: 0;

    @include for-mobile {
      margin-right: 0;
    }
  }

  .column {
    padding-left: 0 !important;
    padding-right: 0 !important;
    white-space: nowrap !important;
    margin-bottom: 16.5px !important;
    height: 24px;
  }

  .trash-can {
    margin-right: 40px !important;

    .column-content {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .trash-can {
    margin-right: 0 !important;
    transform: translateY(-1px);
    float: right;
    height: 27px !important;
    z-index: 1;
    @include for-mobile {
      display: none;
    }
  }

  .column-list-chevron {
    right: 5px;
    width: 24px;
    height: 24px;
    float: right;
    transform: translateY(2px);
    text-align: center;

    @include for-tablet {
      right: 0;
    }
  }
}
