@import "styles/mixins.scss";
@import "styles/variables.scss";
@import "styles/placeholders.scss";

.interac-centered-btn {
  text-align: right;
  width: 192px;
  @include for-mobile() {
    text-align: center;
    &.ui.button.interac-btn {
      width: 100% !important;
    }
  }
}

.interac-profile-body {
  @include for-mobile() {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}

.interac-centered-btn-create {
  text-align: right;
  @include for-mobile() {
    text-align: center;
    &.ui.button.interac-btn {
      width: 100%;
    }
    &.ui.button.interac-btn.create {
      width: 100%;
    }
  }
}
.interac-profile-title {
  @include for-mobile() {
    display: none;
  }
}

.interac-profile-header {
  font-family: Open Sans !important;
  display: inline !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: $--dark-grey;
}

.ui.button.interac-btn {
  @extend %blue-button;
  &.create {
    width: 194px;
  }
  &.disabled {
    opacity: 0.3;
  }
  &.primary {
    background-color: $--atb-blue;
    border-color: $--atb-blue;
    color: white;
  }
  &.secondary {
    background-color: white;
    border-color: $--atb-blue;
    color: $--atb-blue;
  }
  &.btn-xs-block {
    width: 100%;
  }
}

.close-btn {
  background-color: white;
  border: none;
  color: white;
  cursor: pointer;
}

.ui.form.inline-form {
  label {
    display: flex;
    padding-left: 48px;
    margin-bottom: 7px;
  }
  &.error-message {
    width: 266px;
    height: 14px;
    font-size: 10px;
    color: $--red;
    margin-left: 45px;
    margin-top: -10px;
  }
  &.label-div {
    display: flex;
    font-size: 12px;
    letter-spacing: 0.019rem;
    padding-left: 45px;
    padding-bottom: 5px;
    color: $--dark-grey;
  }
}
.ui.form.inline-form-field {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  img {
    padding: 0.3rem 1.5rem 0.3rem 0;
    text-align: center;
  }
  &.form-field {
    outline: none;
    border: none;
    width: 100%;
    color: $--dark-grey;
    font-size: 14px;
    letter-spacing: normal;
    font-family: "Open Sans";
  }
}

.margin-interac-profile {
  @include for-widescreen() {
    padding-left: 65px !important;
    margin-right: 35px !important;
  }
  @include for-tablet() {
    padding-left: 36px !important;
    margin-right: 8px !important;
  }
  @include for-desktop() {
    padding-left: 36px !important;
    margin-right: 8px !important;
  }
  @include for-mobile() {
    padding-left: 20px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.close-btn-margin-interac-profile {
  @include for-widescreen() {
    margin-right: -45px !important;
  }
  @include for-desktop() {
    margin-right: -36px !important;
  }
  @include for-tablet() {
    margin-right: -36px !important;
  }
  @include for-mobile() {
    margin-right: -8px !important;
  }
}
