@import "styles";

.scrollBarPadding() {
  padding-left: calc(100vw - 100%);

  @media @for-md-screen {
    padding-left: 0;
  }
}

.slideTransition (@applyTo: all) {
  transition: @applyTo ease-in-out 150ms;
}

.navHoverEffect(@color: white, @origin: 50%) {
  padding: 4px 0;
  position: relative;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: @color;
    transform: scaleX(0);
    transform-origin: @origin;
    transition: transform 300ms ease-in-out;
  }

  &--active::after,
  &:hover::after {
    transform: scaleX(1);
  }
}

.navbar {
  .scrollBarPadding();
  position: sticky;
  position: -webkit-sticky; // for Safari 12
  top: 0;
  z-index: 50;
  width: 100%;
  box-shadow: 0 1px 4px 0 @dark-black;
  background: @purple;

  @media @for-sm-screen {
    top: -62px;

    &.navbar--stuck .main-nav__links {
      .nav__text {
        opacity: 0;
        transform: translateY(14px);
      }
      .nav-link__icon {
        transform: translateY(14px);
      }
    }
  }
}

.navbar .main-nav {
  display: grid;
  grid-template-columns: min-content auto auto;

  @media @for-md-screen {
    padding: 0 33px;
  }

  @media @for-sm-screen {
    padding: 0;
    grid-template: auto auto / min-content auto;
  }

  .nav__text {
    color: white;
    font-size: 20px;
    line-height: 28px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media @for-md-screen {
      font-size: 16px;
      line-height: 24px;
    }

    @media @for-sm-screen {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .main-nav__logo {
    display: grid;
    place-items: center;

    @media @for-sm-screen {
      margin-left: 15px;
    }

    img {
      width: 75px;
      height: 52px;

      @media @for-md-screen {
        width: 64px;
        height: 44px;
      }

      @media @for-sm-screen {
        width: 49px;
        height: 34px;
      }
    }
  }

  .main-nav__links,
  .main-nav__account {
    display: flex;
    align-items: center;
    height: 88px;

    @media @for-md-screen {
      height: 72px;
    }

    @media @for-sm-screen {
      height: 56px;
    }
  }

  .main-nav__links {
    & > * {
      margin-left: 30px;
    }

    @media @for-sm-screen {
      width: 100%;
      order: 3;
      grid-column: span 2;

      & > * {
        margin-left: 22px;
      }
    }
  }

  .main-nav__account {
    justify-content: flex-end;
    min-width: 0;
    margin-left: 12px;

    & > * {
      margin-left: 12px;
    }

    @media @for-sm-screen {
      margin-right: 15px;
    }

    .notification-icon {
      padding-bottom: 0;

      .ant-badge {
        position: relative;
        bottom: -1px;

        img {
          display: block;

          @media @for-md-screen {
            width: 20px;
            height: 20px;
            padding-bottom: 1px;
          }
        }
      }
    }

    .vertical-line {
      width: 1px;
      background-color: white;
      height: 18px;

      @media @for-sm-screen {
        height: 16px;
      }
    }
  }

  .nav-item,
  .nav-link {
    .navHoverEffect();

    border: none;
    background: none;
  }

  .nav-link {
    @media @for-sm-screen {
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      margin: 0;
    }

    .nav-link__icon {
      .slideTransition(transform);
      display: none;
      height: 22px;
      width: 22px;

      @media @for-sm-screen {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .nav__text {
      .slideTransition(opacity);
      .slideTransition(transform);

      @media @for-sm-screen {
        font-size: 12px;
      }
    }
  }

  .nav__drop-arrow {
    margin-left: 8px;

    @media @for-sm-screen {
      display: none;
    }
  }

  .nav__version-toggle {
    pointer-events: none;
    position: absolute;
    top: 0;

    span {
      color: white;
      font-size: 12px;
    }
  }
}
