@import "styles/mixins.scss";
@import "styles/variables.scss";
@import "styles/forms/global.scss";

.sidebar-container {
  @include for-mobile {
    background-color: $--white;
  }
  .sidebar-tabs {
    .sidebar-tabs-header {
      padding-top: 20px;
      @include for-mobile {
        padding-top: 15px;
      }
    }
    &.hidden {
      @include for-mobile {
        display: none;
      }
    }
  }
}

.manage-contacts-form {
  .label-details {
    padding-bottom: 35px;
  }

  .button-container {
    @include for-mobile {
      padding-bottom: 150px;
    }
  }
}

.manage-contacts-container {
  padding-top: 27px;
  padding-right: 36px;
  padding-left: 36px;
  font-family: $font-opensans;
  @include for-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  .manage-contacts-header {
    padding-bottom: 8px;
    @include for-mobile {
      padding-top: 6px;
      margin-bottom: 12px;
    }

    h3 {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;
    }

    .manage-contacts-cross {
      float: right;
      color: $--atb-blue;
      @include for-mobile {
        padding-right: 0px;
      }
      height: 24px !important;
    }
  }

  .manage-contacts-subheader {
    h3 {
      display: inline;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;
    }
  }

  .manage-contacts-divider {
    margin-right: 0px;
  }

  .recipients-divider {
    margin-bottom: 22px;
  }
  .payee-divider {
    margin-bottom: 42px;
  }
  .payee-comment {
    margin-top: 4px;
  }

  .edit-payee-form {
    padding-top: 0px !important;
  }

  .edit-recipient-form,
  .edit-payee-form {
    padding-left: 0px;
    padding-right: 0px;

    .edit-label {
      padding-top: 5px;
      .form-icon {
        float: left;
        img {
          margin-top: 43px;
        }
      }
    }
    .payee-shortname {
      padding-top: 6px;
    }
    .autodeposit-enabled-message {
      h3 {
        padding-top: 15px;
        &.no-padding {
          padding-top: 0px;
        }
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        color: $--dark-grey;
        font-family: $font-opensans;
      }

      span {
        color: $--dark-grey;
      }
    }
  }

  // applies to all form inputs including the container for the search
  .ui.input.full-width-input {
    width: 100%;
  }

  .in-line-message-tall {
    padding-top: 4px;
    padding-bottom: 14px;
    font-size: 10px;
  }

  .error-tall {
    padding-bottom: 14px;
  }
}
