@import "../../../styles/variables";

.status.bar {
  height: 8px;
  width: 100%;
  border-radius: 8px;
  background-color: $--ghost-grey;
  margin-top: 17px;

  .filler {
    background: $--light-purple;
    height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    transition: width 0.2s ease-in;
  
    &.complete {
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }  
}
