@import "../../styles/mixins";

#request-etransfer-review-form {
  .button-container {
    @include for-widescreen {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 56px; 
    }

    @include for-desktop {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 56px;
    }

    @include for-tablet {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 48px;
    }

    @include for-mobile {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 48px; 
    }

    .primary-button {
      @include for-widescreen {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-desktop {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-tablet {
        margin-top: 0px;
        margin-bottom: 20px;
      }
  
      @include for-mobile {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }

    .bordered-button {
      @include for-widescreen {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-desktop {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-tablet {
        margin-top: 0px;
        margin-bottom: 20px;
      }
  
      @include for-mobile {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }

    .text-button {
      @include for-widescreen {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-desktop {
        margin-top: 0px;
        margin-bottom: 0px;
      }
  
      @include for-tablet {
        margin-top: 0px;
        margin-bottom: 20px;
      }
  
      @include for-mobile {
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
  }
}

#request-etransfer-complete-form {
  .button-container {
    @include for-widescreen {
      padding-top: 0px; 
      padding-bottom: 0px;
      margin-bottom: 56px;
    }

    @include for-desktop {
      padding-top: 0px; 
      padding-bottom: 0px;
      margin-bottom: 56px;
    }

    @include for-tablet {
      padding-top: 0px; 
      padding-bottom: 0px;
      margin-bottom: 48px;
    }

    @include for-mobile {
      padding-top: 0px; 
      padding-bottom: 0px;
      margin-bottom: 48px;
    }
  }
}