@import "styles/variables.scss";
@import "styles/mixins.scss";
@import "styles/placeholders.scss";

.manage-contacts-form-container {
  .manage-contacts-review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 36px;
    padding-right: 36px;
    height: 68px;
    font-family: $font-opensans;

    .ant-skeleton-paragraph {
      margin-bottom: 0;
    }

    @include for-mobile {
      margin-left: 16px;
      margin-bottom: 0;
      padding: 0;
      height: 44px;
    }

    @media only screen and (max-width: $break-tablet-min) {
      height: 57px;
    }

    &.no-contacts {
      @include for-widescreen {
        margin-left: 60px;
        padding-right: 60px;
      }
    }

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: $--dark-grey;
      font-family: $font-opensans;

      @include for-mobile {
        display: none;
      }
    }

    span.add-button-span {
      color: $--atb-blue;
      font-size: 14px;
      font-weight: 600;

      .ant-btn.md-link svg {
        width: 15px;
        height: 15px;
        top: 0;
      }

      button {
        color: $--atb-blue;
        padding: 0;
        margin: 0;
        border: none;
      }
    }
  }

  .contact-row-background {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;

    @include for-mobile {
      padding-left: 0px;
      padding-right: 0px;
    }

    &:hover {
      background-color: rgba(239, 241, 241, 0.5);
      cursor: pointer;
    }

    .contact-row-container {
      height: 72px;
      border-top: 1px solid $--slate-grey;
      border-bottom: 1px solid transparent;
      display: flex;
      align-items: center;

      &:hover {
        border-color: transparent;
      }

      @include for-mobile {
        padding: 0 15px;
        font-size: 12px;
      }

      .contact-initials {
        height: 40px;
        width: 40px;
        background: #e8ebeb;
        border-radius: 50%;
        display: grid;
        place-items: center;

        span {
          line-height: 100%;
        }
      }

      .contact-skeleton {
        width: 100%;
        padding-top: 15px;

        .ant-skeleton-title {
          margin-top: 12px;
          margin-left: 0;
        }
        .ant-skeleton-header {
          padding-right: 30px;

          @include for-tablet {
            padding-right: 25px;
          }

          @include for-mobile {
            padding-right: 10px;
          }
        }
      }

      .contact-name {
        margin: 0 30px;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        min-width: 0;

        @include for-tablet {
          margin: 0 10px 0 25px;
        }

        @include for-mobile {
          margin: 0 4px 0 10px;
        }

        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-bottom: 0;
          margin-right: 4px;

          @include for-mobile {
            flex: 100%;
            margin-right: 0px;
          }
        }
      }

      .contact-icons .contact-trashcan {
        height: 44px;
        transform: translateY(-1px);
        margin-right: 25px;
        @include for-mobile {
          margin-right: 15px;
        }
      }
    }

    &:hover + .contact-row-background {
      .contact-row-container {
        border-color: transparent;
      }
    }
  }

  .manage-contacts-form-no-contacts {
    margin-left: 36px;
    padding-right: 36px;
    font-size: 16px;
    height: 700px;

    @include for-widescreen {
      width: 720px;
      margin-left: 60px;
      padding-right: 60px;
    }

    @include for-mobile {
      width: 100%;
      padding-right: 56px;
    }

    button {
      margin-top: 15px;
      float: right;

      width: 192px;

      @include for-mobile {
        float: none;
        width: 100%;
      }
    }

    .ui.divider {
      margin-top: 1px;
      margin-bottom: 27px;

      @include for-mobile {
        display: none;
      }
    }
  }
}
